In [1]:
import pandas as pd

In [2]:
prod=pd.read_csv(r"C:\Users\91978\OneDrive\Desktop\ce.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\91978\\OneDrive\\Desktop\\ce.csv'

In [ ]:
prod

In [ ]:
prod=pd.read_csv(r"C:\Users\91978\OneDrive\Desktop\excel\111.csv")

In [ ]:
prod

In [4]:
product=pd.DataFrame([(100,'Marker','Stationary',25,22,'15-Jan-08'),
                   (101,'Mouse','Computer',450,350,'16-Apr-09'),
                   (102,'White Board','Stationary',450,375,'20-Aug-10'),
                   (103,'Sony Vaio','Computer',35000,42000,'21-Sep-10')],
                  columns=('p_id','P_name','p_family','price','cost','lanch_done'))

In [5]:
product

   p_id       P_name    p_family  price   cost lanch_done
0   100       Marker  Stationary     25     22  15-Jan-08
1   101        Mouse    Computer    450    350  16-Apr-09
2   102  White Board  Stationary    450    375  20-Aug-10
3   103    Sony Vaio    Computer  35000  42000  21-Sep-10

In [6]:
#select * from product where p_id=100
product[product['p_id']==100]

   p_id  P_name    p_family  price  cost lanch_done
0   100  Marker  Stationary     25    22  15-Jan-08

In [7]:
#select p_name from product where p_id=100
product['P_name'][product['p_id']==100]

0    Marker
Name: P_name, dtype: object

In [11]:
#select p_name,p_family ,p_id,cost from product(more columns showing)

product[['P_name','p_family','p_id','cost']]

        P_name    p_family  p_id   cost
0       Marker  Stationary   100     22
1        Mouse    Computer   101    350
2  White Board  Stationary   102    375
3    Sony Vaio    Computer   103  42000

In [12]:
#select p_name,p_family from product where  price >10000
product[['P_name','p_family']][product['price']<10000]

        P_name    p_family
0       Marker  Stationary
1        Mouse    Computer
2  White Board  Stationary

In [13]:
#select * from product where p_family='stationary'
product[product['p_family']=='Stationary']

   p_id       P_name    p_family  price  cost lanch_done
0   100       Marker  Stationary     25    22  15-Jan-08
2   102  White Board  Stationary    450   375  20-Aug-10

In [15]:
#select * from product where price =(select max(price) from product)
product[product['price']==product['price'].max()]

   p_id     P_name  p_family  price   cost lanch_done
3   103  Sony Vaio  Computer  35000  42000  21-Sep-10

In [16]:
#select P_name from product where price =(select max(price) from product)
product['P_name'][product['price']==product['price'].max()]

3    Sony Vaio
Name: P_name, dtype: object

In [17]:
product[product['price']==product['price'].min()]

   p_id  P_name    p_family  price  cost lanch_done
0   100  Marker  Stationary     25    22  15-Jan-08

In [18]:
# select*from product where cost>250
product[product['cost']>250]

   p_id       P_name    p_family  price   cost lanch_done
1   101        Mouse    Computer    450    350  16-Apr-09
2   102  White Board  Stationary    450    375  20-Aug-10
3   103    Sony Vaio    Computer  35000  42000  21-Sep-10

In [20]:
#select p_name,price  ,cost, price-cost as profit from product1 ;
 product [['P_name','price','cost','price'-'cost' as 'profit']]

IndentationError: unexpected indent (3969183714.py, line 2)